In [11]:
import pandas as pd

results = pd.read_csv("results.csv", parse_dates=["date"])
results.sort_values("date", ascending=True, inplace=True)
sites = pd.DataFrame(columns=["close", "casual", "monitor"])
sites.index.name = "date"
for date in results["date"].unique():
    data = results[results["date"] == date]
    sites.at[date, "casual"] = len(data[data["contact"] == "Casual"])
    sites.at[date, "monitor"] = len(data[data["contact"] == "Monitor"])
    sites.at[date, "close"] = len(data[(data["contact"] != "Monitor") & (data["contact"] != "Casual")])
sites.to_csv("./sites.csv")
sites

           close casual monitor
date
2021-08-07     2      0       0
2021-08-08     7      3       2
2021-08-09    14     12       2
2021-08-10    21     24       7
2021-08-11    39     39       8
2021-08-12    25     49       7
2021-08-13     4     25       9
2021-08-14     2     12       4
2021-08-15     2      8       4
2021-08-16     2     13       7
2021-08-17     3     10       4
2021-08-18     2      3      10
2021-08-19     2      4       5
2021-08-20     1      8       7
2021-08-21     0      6      16
2021-08-22     1      7       5
2021-08-23     1     11       8
2021-08-24     1      9      11
2021-08-25     2      8      15
2021-08-26     4     18      20
2021-08-27     2     12      19
2021-08-28     1      8      11
2021-08-29     2     11      22
2021-08-30     1     18      19
2021-08-31     2      9      17
2021-09-01     1     10      25
2021-09-02     1      3      10
2021-09-03     0      3       8
2021-09-04     0      0       2
2021-09-05     0      1       1